<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PhotoGallery</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <style> .footer { position: fixed; left: 0; bottom: 0; width: 100%; background-color: your_color; text-align: center; padding: 10px; }
          .chg-bg{
            background-color: #21304f; 
            color: aliceblue;
          }

          .plussign::before {
            content: "➕";
           }
        </style>
</head>

<body>
    <!-- Navbar section -->
    <section>
        <nav class="navbar navbar-expand-lg navbar chg-bg
         border-bottom border-body" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">PhotoGallery</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <a class="nav-link active" aria-current="page" href="http://localhost:4000/home">Home</a>
                        <a class="nav-link" href="#">About</a>
                        <% if(!currUser){ %>
                        <a class="nav-link" href="/signup">SignUp</a>
                        <a class="nav-link" href="/login">Login</a>
                        <% }else{ %>
                        <a class="nav-link" href="/logout">Logout</a>
                        <% } %>
                    </div>
                </div>
            </div>
        </nav>
    </section>  


    <div class="container"><%- body %></div>

    <!-- Footer Section -->
     <section class=".footer">
      <div class="container-fluid d-flex container-wrap justify-content-evenly mt-5 pt-3 pb-3" style="background-color: #21304f; color: aliceblue;">
        <!-- Row1 -->
        <!-- <div class="row d-flex">
          <div class="col-md-8 mt-3 mb-3 text-center">
            <img src="BosscoderAcademy_logo.jpeg" class="img-fluid rounded img-size mt-2 mb-2" alt="">
            <p class="fs-6 fw-semibold">Helping ambitious learners upskill themselves & shift to top Product Based Company</p>
          </div>
          <hr>
        </div> -->
    
        <!-- Row2 -->
        <div class="row d-flex">
          <div class="col-md-12 mt-3 mb-3 text-center">
            <h1 class="fs-3 fw-bold mt-3 mb-3">Who are we</h1>
            <span class="d-block fs-6 fw-semibold mt-2 mb-2">About Us</span>
            <span class="d-block fs-6 fw-semibold mt-2 mb-2">Blog</span>
            <span class="d-block fs-6 fw-semibold mt-2 mb-2">Attend Free Event</span>
            <span class="d-block fs-6 fw-semibold mt-2 mb-2">Reviews</span>
            <span class="d-block fs-6 fw-semibold mt-2 mb-2">Privacy Policy</span>
            <span class="d-block fs-6 fw-semibold mt-2 mb-2">Terms & Conditions</span>
            <span class="d-block fs-6 fw-semibold mt-2 mb-2">Pricing and Refund Policy</span>
            <span class="d-block fs-6 fw-semibold mt-2 mb-2">Har Hath Kalam</span>
          </div>
          <hr>
        </div>
    
        <!-- Row3 -->
        <div class="row d-flex">
          <div class="col-md-12 mt-3 mb-3 text-center">
            <h1 class="fs-3 fw-bold mt-3 mb-3">Contact Us</h1>
            <span class="d-block fs-6 fw-semibold mt-2 mb-2">Email: <br> ask@bosscoderacademy.com</span>
            <span class="d-block fs-6 fw-semibold mt-3 mb-3">E-401, Dasnac The Jewel of <br> Noida, Sector 75, Noida UP 201301</span>
          </div>
          <hr>
        </div>
    
      </div>
     </section>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    
        <script>
          // JavaScript for disabling form submissions if there are invalid fields
          (function() {
              'use strict'
  
              // Fetch all the forms we want to apply custom Bootstrap validation styles to
              var forms = document.querySelectorAll('.needs-validation')
  
              // Loop over them and prevent submission
              Array.prototype.slice.call(forms)
                  .forEach(function(form) {
                      form.addEventListener('submit', function(event) {
                          if (!form.checkValidity()) {
                              event.preventDefault()
                              event.stopPropagation()
                          }
  
                          form.classList.add('was-validated')
                      }, false)
                  })
          })()
      </script>
</body>

</html>