<% layout("./layouts/boilerplate.ejs") %>

<body>
    <div class="container-fluid">
        <div class="row">
            <h2 class="mt-2">Details</h2>
            <div class="col-md-6">
                <img src="/images/<%= listing.image %>" class="img-fluid rounded"
                style="height: 25rem; width: 100%;">
            </div>
        </div>


        <div class="row">
            <div class="col-md-12 list-style-none">
                <h5 class="mt-3 badge text-bg-info fs-5"><%= listing.title %></h5>
                <p class="m-0"><%= listing.description %></p>
                <p class="mt-1 fw-bold"><%= listing.country %></p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <button class="btn btn-dark">EDIT</button>
                <button class="btn btn-danger">DELETE</button>
            </div>
        </div>
    </div>
</body>