<% layout('./layouts/boilerplate.ejs') %>

<body>
    <div class="container-fluid">
        <div class="row mt-3 mb-3">
            <div class="col-8 offset-2">
            <h1 class="fs-2">SignUp </h1>
            <form action="/signup" method="post" class="needs-validation" novalidate>
                <div class="mt-3 mb-3">
                    <label for="username" class="form-label fw-semibold">Username</label>
                    <input type="text" class="form-control" id="username" name="username" required>
                </div>
                
                <div class="mt-3 mb-3">
                    <label for="email" class="form-label fw-semibold">Email</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>

                <div class="mt-3 mb-3">
                    <label for="password" class="form-label fw-semibold">Password</label>
                    <input type="password" class="form-control" id="password" name="password" required>
                </div>

                <button type="reset" class="btn btn-dark">Reset</button>
                <button type="submit" class="btn btn-success">Submit</button>   
            </form>
        </div>
    </div>
    </div>
</body>